*{
	font-family: "Lucida Grande", Gadget, sans-serif;
}
body{
	background: #EEEEEE;
}
h1,h2,h3{
	text-align: center;
	/* text-transform: uppercase */
	font-variant: small-caps;

}
p{
	text-indent: 30px;
	text-align: justify;
	border: 2px grey solid;
	padding: 10px;
	border-radius: 5px;
}

/* les pseudos classes */
p:first-letter{
	color: red;
	font-size: 1.2em;
	font-weight: bolder;
}
table{
	background: #EFEFEF;
	border: 1px green solid;
}
thead , tfoot {
background: red;
color: white;
}
td,th{
	border: 1px solid green;
padding: 10px;
}
